.containerSolution{
    .background{
        margin-left: 50px;
        height: 100%;
        background-image: url("../../public/img/Photo.png");
        background-repeat: no-repeat;
        background-size: 555px 789px;
        position: relative;
        .ditGrid{
        position: absolute;
        top: -20px;
        right: 10px;
        }
        .elipses{
            position: absolute;
            top: 320px;
            left: -40px;
        }
    }
    .textWho{
        margin-top: 20px !important;
    }
    .textSpecific{
       font-size: 30px !important;
       margin-top: -50px !important;
       width: 500px;
    }
    .SomeOf{
        margin-top: -50px !important;
    }

}