// Colors
$MainDark: #000000;
$PreViewPhoto: #ededed;
$MainWhite: #ffffff;
$MainBlue: #004377;
$BlueBorder: rgba(0, 98, 173, 0.32);
$BlueBg: #0062ad;
$GrayLight: rgba(0, 0, 0, 0.2);
$Yellow: #ffbf00;
$Black: #000;
$White: white;
$Blue: #2970ff;
$Green: rgb(21, 225, 21);
$GreenLight: #1dad00;
$Background: #15213e;
$GreyLightest: rgba(138, 138, 138, 0.6);
$ColorBoxShadow: #cfcfcf;
$Red: red;
$BlueHover: rgb(123, 123, 238);
$RedDark: #ad0001;
$ColorBorderRow: rgba(0, 0, 0, 0.07);
$Border: #d5dceb;
$MilkyWhite: #d7dbe5;
$MilkyBorderWhite: #c3c7d0;
$WhiteBlue: #ddf0ff;
$DarkBlue: #2062ad;
$BlackMomentum: #201e1e;
$WhiteGreen: #00ff48;
$OrangeHover: #0091ff;
$BlackRed: #292929;
$BlueOrigin: #0062ad;
$BlueButton: #3898ec;
$Pink: #eff4ff;
$BlueLight: #b7e0ff;
$BlueRelease: #33a7ff;
$GreenWhite: #3f0;
$WhiteMomentum: #5a4f4f;
$BlurBlack: rgba(0, 0, 0, 0.7);
$BlurBlue: rgba(0, 98, 173, 0.5);
$DarkWaveform: #ffffff00;
$ColorWaveformRegion: #21d4fd40;
$ColorVideo: #00e0ff;
$Orange: #f4be00;
$OrangeDark: #f37600;
$ColorVideoTrack: #fff6dd;
$ColorIconVID: #ac9d00;
$ColorIconMP3: #fec034;
$BackDropColor: rgba(0, 0, 0, 0.9);
$BackgroundCreation: rgb(228, 209, 185);
$BackgroundCardCrystalClear: rgba(255, 255, 255, 0.5);
$BackgroundBoxEmailPassword: #f0f0f0;
$BackgroundCommentColor: #f0f2f5;
$BackgroundUserDetail: rgba(0, 0, 0, 0.9);
$BackgroundComment: rgb(240, 242, 245);
$BackgroundPanding: #ebf4fd;
$ColorButton: rgba(255, 0, 4, 0.5);
$BackgroundAd: #f0fff3;
$BackgroundAdSold: #fff0f0;
$RedColor: #ff0000;
$GreyColor: #8f8c8c;
$BorderGo: #d8d8d8;
$PlaceholderColor: #333333;
$GreyLightColor: #e4e4e4;

$BorderPost: #ccc;
$CrateColor: rgba(0, 0, 0, 0.65);
// Font
$FontSize8: 8px;
$FontSize10: 10px;
$FontSize11: 11px;
$FontSize12: 12px;
$FontSize14: 14px;
$FontSize15: 15px;
$FontSize16: 16px;
$FontSize18: 18px;
$FontSize20: 20px;
$FontSize22: 22px;
$FontSize23: 23px;
$FontSize24: 24px;
$FontSize25: 25px;
$FontSize28: 28px;
$FontSize30: 30px;
$FontSize35: 35px;
$FontSize38: 38px;
$FontSize40: 40px;
$FontSize42: 42px;
$FontSize50: 50px;
$FontSize30: 30px;


// Breakpoints
$LargeDesktop: 1350px !default;
$Desktop: 1024px !default;
$LargeTablet: 800px !default;
$Tablet: 600px !default;
$Mobile: 480px !default;
$SmallMobile: 320px !default;
