.experienceContainer{
    margin-top: 200px;
    min-height: 300px;
    .microsoft{
        min-width: 100px !important;
    }
    .google{
        min-width: 100px !important;
    }
    .zon{
        min-width: 100px !important;
    }
}