@import "../../../assets/scss/variables.module";
.containerInfo{
    .background{
        width: 100%;
        min-height: 708px;
        background-image: url("../../../public/img/Hero1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .description{
            padding-top: 170px;
            height: 274px;
            min-width: 471px;
            padding-left: 50px;
            color: $White;
            .headerDes{
                padding-top: 30px;
                font-size: 50px;
            }
            .bodyDes{
                width: 400px;   
            }
            .footerDes{
                margin-top: 30px;
                width: 200px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background-color:$Background ;
                border-radius: 20px;
                color: $MainDark;
            }
        }
    } 
    .experened{
       margin: -163px auto;
       color: $White;
        .content{
            margin: 0 auto;
            max-width:1039px ;
            height: 326px;
            background-image: url("../../../public/img/AboutUs.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            .text{
                padding: 100px;
                .textTitele{
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 35px;
                }
                .textContent{
                    text-align: justify;
                }
            }
        }
    }
}